<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(foooo){ %>
    <h1>Hi from index.js</h1>
    <p> <%= foooo  %> </p>
    <% } %>
</body>
</html>